## Analytics Vidhya-Loan Prediction-III

**Shivam Panchal**
**(shivam.panchal@mail.com)**

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(style='darkgrid')
import matplotlib.pyplot as plt

**Setting the work directory**

In [2]:
import os
os.chdir('C://users/Shivam Panchal/Desktop/Loan Prediction 3')
print(os.getcwd())

C:\users\Shivam Panchal\Desktop\Loan Prediction 3

In [6]:
df = pd.read_csv('train.csv')

In [8]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [9]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

**Imputing the missing values**

In [10]:
df['Gender'] = df['Gender'].fillna( df['Gender'].dropna().mode().values[0] )
df['Married'] = df['Married'].fillna( df['Married'].dropna().mode().values[0] )
df['Dependents'] = df['Dependents'].fillna( df['Dependents'].dropna().mode().values[0] )
df['Self_Employed'] = df['Self_Employed'].fillna( df['Self_Employed'].dropna().mode().values[0] )
df['LoanAmount'] = df['LoanAmount'].fillna( df['LoanAmount'].dropna().mean() )
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna( df['Loan_Amount_Term'].dropna().mode().values[0] )
df['Credit_History'] = df['Credit_History'].fillna( df['Credit_History'].dropna().mode().values[0] )
df['Dependents'] = df['Dependents'].str.rstrip('+')
df['Gender'] = df['Gender'].map({'Female':0,'Male':1}).astype(np.int)
df['Married'] = df['Married'].map({'No':0, 'Yes':1}).astype(np.int)
df['Education'] = df['Education'].map({'Not Graduate':0, 'Graduate':1}).astype(np.int)
df['Self_Employed'] = df['Self_Employed'].map({'No':0, 'Yes':1}).astype(np.int)
df['Loan_Status'] = df['Loan_Status'].map({'N':0, 'Y':1}).astype(np.int)
df['Dependents'] = df['Dependents'].astype(np.int)

In [11]:
X,y  = df.iloc[:, 1:-1], df.iloc[:, -1]

In [12]:
X= pd.get_dummies(X)

In [13]:
X.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
0,1,0,0,1,0,5849,0.0,146.412162,360.0,1.0,0.0,0.0,1.0
1,1,1,1,1,0,4583,1508.0,128.000000,360.0,1.0,1.0,0.0,0.0
2,1,1,0,1,1,3000,0.0,66.000000,360.0,1.0,0.0,0.0,1.0
3,1,1,0,0,0,2583,2358.0,120.000000,360.0,1.0,0.0,0.0,1.0
4,1,0,0,1,0,6000,0.0,141.000000,360.0,1.0,0.0,0.0,1.0

**Importing Std Scalar**

In [14]:
from sklearn.preprocessing import StandardScaler
slc= StandardScaler()
X_train_std = slc.fit_transform(X)

In [17]:
X_train_std

array([[ 0.47234264, -1.37208932, -0.73780632, ..., -0.64147818,
        -0.7820157 ,  1.42814704],
       [ 0.47234264,  0.72881553,  0.25346957, ...,  1.55889948,
        -0.7820157 , -0.70020801],
       [ 0.47234264,  0.72881553, -0.73780632, ..., -0.64147818,
        -0.7820157 ,  1.42814704],
       ...,
       [ 0.47234264,  0.72881553,  0.25346957, ..., -0.64147818,
        -0.7820157 ,  1.42814704],
       [ 0.47234264,  0.72881553,  1.24474546, ..., -0.64147818,
        -0.7820157 ,  1.42814704],
       [-2.11710719, -1.37208932, -0.73780632, ..., -0.64147818,
         1.2787467 , -0.70020801]])

In [18]:
from sklearn.ensemble import RandomForestClassifier
forest = RandomForestClassifier(n_estimators =500, criterion='entropy', oob_score=True, random_state=1,n_jobs=-1)

In [19]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier

tree = DecisionTreeClassifier(criterion='entropy',max_depth=1)
ada = AdaBoostClassifier(base_estimator=tree, n_estimators=500, learning_rate=0.1, random_state=0)

In [20]:
from sklearn.ensemble import VotingClassifier

eclf = VotingClassifier(estimators=[('forest', forest), ('adaboost', ada)], voting='hard')

In [21]:
eclf.fit(X_train_std, y)

VotingClassifier(estimators=[('forest', RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=500, n_jobs=-1,
    ...andom_state=None, splitter='best'),
          learning_rate=0.1, n_estimators=500, random_state=0))],
         voting='hard', weights=None)

In [22]:
dtest = pd.read_csv('test.csv')

In [23]:
dtest['Gender'] = dtest['Gender'].map({'Female':0,'Male':1})
dtest['Married'] = dtest['Married'].map({'No':0, 'Yes':1}).astype(np.int)
dtest['Education'] = dtest['Education'].map({'Not Graduate':0, 'Graduate':1}).astype(np.int)
dtest['Self_Employed'] = dtest['Self_Employed'].map({'No':0, 'Yes':1})
dtest['Dependents'] = dtest['Dependents'].str.rstrip('+')
dtest['Gender'] = dtest['Gender'].fillna( dtest['Gender'].dropna().mode().values[0]).astype(np.int)
dtest['Dependents'] = dtest['Dependents'].fillna( dtest['Dependents'].dropna().mode().values[0]).astype(np.int)
dtest['Self_Employed'] = dtest['Self_Employed'].fillna( dtest['Self_Employed'].dropna().mode().values[0])
dtest['LoanAmount'] = dtest['LoanAmount'].fillna( dtest['LoanAmount'].dropna().mode().values[0])
dtest['Loan_Amount_Term'] = dtest['Loan_Amount_Term'].fillna( dtest['Loan_Amount_Term'].dropna().mode().values[0])
dtest['Credit_History'] = dtest['Credit_History'].fillna( dtest['Credit_History'].dropna().mode().values[0] )

In [24]:
dtest.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0,1,0.0,5720,0,110.0,360.0,1.0,Urban
1,LP001022,1,1,1,1,0.0,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,1,1,2,1,0.0,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,1,1,2,1,0.0,2340,2546,100.0,360.0,1.0,Urban
4,LP001051,1,0,0,0,0.0,3276,0,78.0,360.0,1.0,Urban

In [25]:
X_test = dtest.iloc[:,1:]

In [26]:
X_test.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,1,1,0,1,0.0,5720,0,110.0,360.0,1.0,Urban
1,1,1,1,1,0.0,3076,1500,126.0,360.0,1.0,Urban
2,1,1,2,1,0.0,5000,1800,208.0,360.0,1.0,Urban
3,1,1,2,1,0.0,2340,2546,100.0,360.0,1.0,Urban
4,1,0,0,0,0.0,3276,0,78.0,360.0,1.0,Urban

In [27]:
X_test= pd.get_dummies(X_test)

In [28]:
X_test_std = slc.transform(X_test)

In [29]:
y_test_pred = eclf.predict(X_test_std)

In [30]:
dtest['Loan_Status'] = y_test_pred

In [31]:
df_final = dtest.drop(['Gender', 'Married', 'Dependents', 'Education', 'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount', 'Loan_Amount_Term', 'Credit_History', 'Property_Area'], axis=1)

In [32]:
df_final['Loan_Status'] = df_final['Loan_Status'].map({0:'N', 1:'Y'})

In [33]:
df_final.to_csv('my_submission.csv', index=False)

**This is the final Solution**